body {
    display: flex;
    color: azure;
    background-color: rgb(23, 115, 118);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    justify-content: center;
    text-align: center;
}
section#projects {
    margin-top: 200px;
    position: relative;
}
h2#logo {
    font-size: 50px;
    margin-left: 0%;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    align-items: center;
    color: white;
    font-size: 30px;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    z-index: 999;
    margin: 0 0 24px 0;
    border-bottom: 5px solid antiquewhite;

}

nav { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
    

}
	
nav li {
	display: inline;

}

nav a {
	text-decoration: none;
	font-family:  "Open Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: white;
}

nav a:hover {
	text-decoration: none;
	font-family:  "Open Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #000;
}
h2.projects {
    
    font-size: 80px;
    border: 5px solid black;
    background-color: rgb(255, 171, 46);
    margin: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

details.project {
    color: black;
    display: flex;
    margin-top: 50px;
}

details {
    border: 5px solid;
    background-color: rgb(128, 216, 146);
    margin: auto;
    width: 100%;
}

img.project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 3px solid rgb(41, 33, 33);
}

summary,p {
    text-align: center;
    margin: auto;
    
}

p {
    background-color: rgb(164, 194, 224);
    margin: 25px 30px 20px 0;
    padding: 20px 0px 20px 0;
    width: 100%;
    margin-bottom: 0;
}