h2#logo {
    font-size: 50px;
    margin-left: 0%;
}
h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    align-items: center;
    color: white;
    font-size: 30px;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    z-index: 999;
    margin: 0 0 24px 0;
    border-bottom: 5px solid antiquewhite;

}

nav { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
    

}
	
nav li {
	display: inline;

}

nav a {
	text-decoration: none;
	font-family:  "Open Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: white;
}

nav a:hover {
	text-decoration: none;
	font-family:  "Open Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #000;
}
body{
	font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}
section {
	display: flex;
    background-color: #65ba50;
    color: white;
    border-radius: 10%;
    flex-direction: column;
    padding: 30px 30px;
    margin-top: 200px;
    border: 5px solid antiquewhite;
}